<nav class="navbar navbar-expand-lg position-relative py-4 bg-light  pl-5" >
 
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  -->

  <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex align-items-center justify-content-between mr-5 ">
      
      <li class="nav-item d-flex align-items-center justify-content-between">
        <span id="dott" style=" display: inline-block;"></span>
        <i class="fas fa-gas-pump fa-2x gass"></i>
        <h3 style="padding: 0 6px;">2/3</h3>
        <span style="font-size: 13px; font-weight: 400;">monitored station</span>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-between pl-3">
        <span id="dott" style=" display: inline-block;"></span>
        <i class="fas fa-sync gass fa-2x"></i>
        <h3  style="padding: 0 6px;">20s</h3>
        <span style="font-size: 13px; font-weight: 400;"> last updating</span>
      </li>
       
       </ul>
      
      <div class="d-flex justify-content-around align-items-center w-100">
    
            <div class=" cenNav container" style="width: 35%;">
              <div class="row " style="background-color: #cccaca; border-radius: 16px; ">
                <span class="navcenterf">TODAY</span>
                <span class="navcenter">YESTERDAY</span>
                <span class="navcenter">LASTWEEK</span>
              </div>
          
          
            </div>
            <div class="container navLast" style="width: 45%;">
              <div class="row d-flex justify-content-between  align-items-center">
                    <div class=" d-flex position-relative">
                  
                          <div style="font-size:11px ;">
                            <i class="arrow right"></i>
                            <div style="position: relative; bottom: 10px;"><span style="font-size:16 ; font-weight: 600; ">Start</span>date-time</div>  
                          
                          </div>

                          <div style="position: relative; right: 0; margin-left: 70px;">
                            <i class="fas fa-calendar-alt text-right"></i>
                          </div>
                          <span class="clen"></span>
                    </div>
                    <div class=" d-flex position-relative ml-5 pl-4">
                  
                        <div style="font-size:11px ;">
                          <i class="squar"></i>
                          <div style="position: relative; bottom: 10px;"><span style="font-size:16 ; font-weight: 600; ">End</span>date-time</div>  
                        
                        </div>

                        <div style="position: relative; right: 0; margin-left: 70px;">
                          <i class="fas fa-calendar-alt text-right"></i>
                        </div>
                        <span class="clen"></span>
                   </div>

              </div>
              
            </div>
      
        
       
      </div>
  </div>
</nav>