<div class="sidenav">
    <div style="height: 10%;">
        <a href="#">
            <i class="fas fa-map-marker"></i>
        </a>
    </div>
    <div style="display: flex; align-items: center ; justify-content: center; flex-direction: column; height: 80%;">
        <a href="#"><i class="fas fa-tachometer-alt"></i></a>
        <a href="#"><i class="fas fa-th-large text-white"></i></a>
        <a href=""><i class="fas fa-graduation-cap"></i></a>  
        <a href="#"><i class="fas fa-cog "></i></a>
       <a href=""> <i class="fas fa-bell"></i></a>
    </div>
    <div style="height: 10%;">
        <a href="#">
            <i class="fas fa-sign-out-alt"></i> 
        </a>
    </div>
    
</div>